<?xml version="1.0" encoding="UTF-8"?>
<web-app
  version="4.0"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <display-name>JakartaApp</display-name>

  <!-- Servlet pour la connexion -->
  


<servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.example.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.example.controller.SignupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

  
<!-- book -->

<servlet>
    <servlet-name>bookController</servlet-name>
    <servlet-class>com.example.controller.BookController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>bookController</servlet-name>
    <url-pattern>/book/*</url-pattern>
</servlet-mapping>



 
<servlet>
    <servlet-name>GenerateCertificateServlet</servlet-name>
    <servlet-class>com.example.controller.GenerateCertificateServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>GenerateCertificateServlet</servlet-name>
    <url-pattern>/generate-certificate</url-pattern>
</servlet-mapping>



  <!-- Page d'accueil -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
